<!--
  templateType: page
  isAvailableForNewContent: true
-->
{% extends "./layouts/base.html" %}
{% block body %}
    <main role="main" class="inner cover">
        {% dnd_area "dnd_area" class='body-container body-container__homepage', label='Main section' %}
            {% dnd_section %}
            {% dnd_column width=12 %}
                {% dnd_row %}
                    {% dnd_module path="@hubspot/rich_text" label="Heading" %}
                        {% module_attribute "html" %}
                            <h1 class="cover-heading">Heading Goes Here</h1>
                        {% end_module_attribute %}
                    {% end_dnd_module %}
                {% end_dnd_row %}
                {% dnd_row %}
                    <p class="lead">
                        {% dnd_module  "description_text" path="@hubspot/rich_text" label="Description" %}
                            {% module_attribute "html" %}
                                Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.
                            {% end_module_attribute %}
                        {% end_dnd_module %}
                    </p>
                {% end_dnd_row %}
                {% dnd_row %}
                    <p class="lead">
                        {% dnd_module  "description_text" path="../modules/Button" label="CTA" %}
                        {% end_dnd_module %}
                    </p>
                {% end_dnd_row %}
            {% end_dnd_column %}
            {% end_dnd_section %}
            {% dnd_section %}
            {% dnd_column width=12 %}
                {% dnd_row %}
                    <div class="row">
                        <div class="col-sm">
                            {% dnd_module "logos_carousel" path="../modules/Carousel" label='Select logos here' %}
                            {% end_dnd_module %}
                        </div>
                    </div>
                {% end_dnd_row %}
            {% end_dnd_column %}
            {% end_dnd_section %}
        {% end_dnd_area %}
    </main> 
{% endblock body %}